<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-08-27T03:57:48Z</date>
	<key>WorkspacePath</key>
	<string>../../MarbleMadness.xcodeproj</string>
</dict>
</plist>
